<div class="row">
    <div class="col-12" style="text-align: center;">
        <h2>Componentes</h2>
        <ul class="row">
            <li class="col-12">
                Titulo
            </li>
            <li class="col-12">
                Introducir texto
            </li>
            <li class="col-12">
                Campo de texto para alumno
            </li>
            <li class="col-12">
                Respuestas radio
            </li>
            <li class="col-12">
                Respuestas check
            </li>
        </ul>
    </div>
</div>
